<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Categorias</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/categories/save">
                        <input type="text" name="title" id="title" placeholder="Defina o título da categoria"
                            class="form-control">
                        <button class="btn btn-primary mt-3">Confirmar</button>
                    </form>
                </div>
            </div>

        </div>

        <%- include ('../../partials/footer.ejs') %>